h1,
h2 {
  font-family: cfexpedition, serif;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 48pt;
  text-align: center;
  margin-top: 0;
}
h2 {
  font-family: 'Georgia', Times New Roman, Times, serif;
  text-transform: none;
  font-size: 11pt;
  line-height: 0.5;
  text-align: center;
  margin-top: 20px;
}
h2 span {
  display: inline-block;
  position: relative;
}
h2 span:before,
h2 span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  top: 0;
  width: 100px;
}
h2 span:before {
  right: 100%;
  margin-right: 50px;
}
h2 span:after {
  left: 100%;
  margin-left: 50px;
}
.head {
  background: url("../img/head.png") 0 -30px;
  margin: auto;
  max-width: 1500px;
  width: 100%;
  border-bottom: #f34949 5px solid;
}
.shadow {
  height: 645px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
