@font-face {
  font-family: cfexpedition;
  src: url(../fonts/CFExpedition-Regular.eot);
}
@font-face {
  font-family: cfexpedition;
  src: url(../fonts/CFExpedition-Regular.ttf);
}
ul {
  list-style: none;
}
* {
  font-family: 'Georgia', Times New Roman, Times, serif;
}
a {
  color: #000000;
}
.logo:after {
  position: relative;
  top: 9px;
  width: 15px;
  height: 9px;
  content: '';
  display: inline-block;
  background: url("../img/logo-red-dots.png");
}
nav {
  padding-top: 30px;
  padding-bottom: 30px;
}
nav ul {
  margin: 0;
}
nav ul a:hover {
  color: #ffffff;
}
nav ul a li {
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
  padding: 10px 20px 10px 20px;
  font-size: 10pt;
  display: inline-block;
  vertical-align: middle;
}
nav ul a li:hover {
  background-color: #f34949;
}
@media screen and (max-width: 768px) {
  nav .small-3 {
    padding-right: 0;
  }
  nav .small-9 {
    padding: 0;
  }
  nav ul a li {
    padding: 5px 20px 5px 20px;
  }
}
h1,
h2 {
  font-family: cfexpedition, serif;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 48pt;
  text-align: center;
  margin-top: 0;
}
h2 {
  font-family: 'Georgia', Times New Roman, Times, serif;
  text-transform: none;
  font-size: 11pt;
  line-height: 0.5;
  text-align: center;
  margin-top: 20px;
}
h2 span {
  display: inline-block;
  position: relative;
}
h2 span:before,
h2 span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  top: 0;
  width: 100px;
}
h2 span:before {
  right: 100%;
  margin-right: 50px;
}
h2 span:after {
  left: 100%;
  margin-left: 50px;
}
.head {
  background: url("../img/head.png") 0 -30px;
  margin: auto;
  max-width: 1500px;
  width: 100%;
  border-bottom: #f34949 5px solid;
}
.shadow {
  height: 645px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: white;
  color: #000;
  border: 1px solid #cacaca;
}
.button:hover {
  background-color: #f34949;
}
.dish {
  float: left;
}
.menu-item {
  float: left;
  margin-bottom: 20px;
}
.menu-name {
  text-align: left;
  font-weight: bold;
  width: auto;
  display: inline;
}
hr {
  display: inline-block;
  border: 1px solid #b4b4b4;
  margin: 15px 15px inherit;
  width: 60%;
  opacity: 0.5;
  float: right;
}
.menu-price {
  float: right;
}
.menu-description {
  font-size: 10pt;
  font-style: italic;
  color: #b4b4b4;
  width: 395px;
}
.dish-container {
  margin-top: 25px;
}
.menu-badge {
  width: 120px;
  height: 56px;
  line-height: 47px;
  position: relative;
  background: #f34949;
  color: #ffffff;
  font-size: 11pt;
  text-align: center;
  margin: auto;
}
.menu-badge:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 8px solid #ffffff;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}
@media screen and (max-width: 1024px) {
  .dish {
    padding-left: 80px;
  }
}
@media screen and (max-width: 768px) {
  .dish {
    padding-left: 50px;
  }
}
.repeat-enter-setup,
.repeat-leave-setup {
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.repeat-enter-setup {
  line-height: 0;
  opacity: 0;
}
.repeat-enter-setup.repeat-enter-start {
  line-height: 20px;
  opacity: 1;
}
.repeat-leave-setup {
  opacity: 1;
  line-height: 20px;
}
.repeat-leave-setup.repeat-leave-start {
  opacity: 0;
  line-height: 0;
}
.featured {
  height: 700px;
}
.gallery {
  height: 800px;
}
footer {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  max-width: 1500px;
  background-color: #3b3b3b;
  color: #ffffff;
  padding: 70px 200px 70px 200px;
}
footer ul {
  margin-left: 0;
}
footer ul:nth-of-type(3) li {
  font-weight: bold;
}
footer ul:not(:nth-of-type(4)) li:first-child {
  font-weight: bold;
}
footer ul:not(:nth-of-type(4)) li:last-child {
  font-weight: bold;
}
footer.row {
  margin: 0;
  max-width: inherit;
}
