.button {
  background-color: white;
  color: #000;
  border: 1px solid #cacaca;
}
.button:hover {
  background-color: #f34949;
}
.dish {
  float: left;
}
.menu-item {
  float: left;
  margin-bottom: 20px;
}
.menu-name {
  text-align: left;
  font-weight: bold;
  width: auto;
  display: inline;
}
hr {
  display: inline-block;
  border: 1px solid #b4b4b4;
  margin: 15px 15px inherit;
  width: 55%;
  opacity: 0.5;
  float: right;
}
.menu-price {
  float: right;
}
.menu-description {
  font-size: 10pt;
  font-style: italic;
  color: #b4b4b4;
  width: 395px;
}
.dish-container {
  margin-top: 25px;
}
.menu-badge {
  width: 120px;
  height: 56px;
  line-height: 47px;
  position: relative;
  background: #f34949;
  color: #ffffff;
  font-size: 11pt;
  text-align: center;
  margin: auto;
}
.menu-badge:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 8px solid #ffffff;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}
@media screen and (max-width: 1024px) {
  .dish {
    padding-left: 80px;
  }
}
@media screen and (max-width: 768px) {
  .dish {
    padding-left: 50px;
  }
}
.repeat-enter-setup,
.repeat-leave-setup {
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.repeat-enter-setup {
  line-height: 0;
  opacity: 0;
}
.repeat-enter-setup.repeat-enter-start {
  line-height: 20px;
  opacity: 1;
}
.repeat-leave-setup {
  opacity: 1;
  line-height: 20px;
}
.repeat-leave-setup.repeat-leave-start {
  opacity: 0;
  line-height: 0;
}
