.featured {
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    hr {
        float: none;
        margin-bottom: 5px;
        width: 20%;
    }
    .featured-gallery-wrapper {
        overflow: hidden;
        margin: auto auto auto -5px;
    }
    .featured-item {
        position: relative;
        display: inline;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }
    .dish-name, .dish-item {
        width: 305px;
    }
    .dish-price {
        width: 50px;
        display: inline;
    }
    .arrow {
        height: 64px;
        width: 64px;
        background: url("../img/arrow-right.png");
        position: absolute;
        display: none;
        cursor: pointer;
    }
    .arrow-left {
        &:extend(.featured .arrow);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: "FlipH";
        float: left;
        top: 130px;
        left: -45px;
    }

    .arrow-right {
        &:extend(.featured .arrow);
        float: right;
        bottom: 95px;
        right: -15px;
    }
    .fa-star {
        color: @star-color;
    }
    .fa-star-half-o {
        color: @star-color;
    }
    .fa-star-o {
        color: @empty-star-color;
    }
    .featured-header {
        padding-bottom: 15px;
    }
}
