@import "_variables";

nav {
    padding-top: 30px;
    padding-bottom: 30px;
    ul {
        float: right;
        margin: 0;

        li {
            transition: @nav-transition;
            -moz-transition: @nav-transition;
            -webkit-transition: @nav-transition;
            padding: 10px 20px 10px 20px;
            font-size: 10pt;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            &:hover {
                background-color: @the-menu-color;
                color: @font-color;
            }

        }
    }
    .medium-0 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav {
        .small-3 {
            padding-right: 0;
        }
        .small-9 {
            padding: 0;
        }
        ul {
            li {
                padding: 10px 10px 10px 0;
                &:hover {
                    background-color: initial;
                    color: initial;
                }
            }
        }
        .small-0 {
            display: none;
        }
        .medium-0 {
            &.small-12 {
                display: none;
                border-top: 1px solid @the-menu-color;
                margin-top: 30px;
                ul {
                    margin-top: 20px;
                }
            }
            display: block;
            text-align: right;
            ul {
                float: left;
                li {
                    text-align: left;
                    display: block;
                }
            }
        }
        .fa-bars {
            font-size: 22pt;
            cursor: pointer;
        }
    }
}