<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Resto</title>
    <link rel="stylesheet" href="css/foundation.min.css"/>
    <link rel="stylesheet" href="css/main.min.css"/>
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>

<nav class="row">
    <div class="small-3 columns">
        <a href="." class="logo"><img src="img/logo.png" alt="Logo Resto"/> </a></div>
    <div class="small-9 columns">
        <ul>
            <a href="#">
                <li>Our story</li>
            </a>
            <a href="#">
                <li>Menu</li>
            </a>
            <a href="#">
                <li>Reservations</li>
            </a>
            <a href="#">
                <li>News</li>
            </a>
            <a href="#">
                <li>Reviews</li>
            </a>
        </ul>
    </div>
</nav>
<section class="head">
    <div class="shadow">
        <h1>This template is awesome</h1>

        <h2><span>resto restaurant home page website template</span></h2>
    </div>
</section>

<section class="menu row" ng-app="menu-iterator">
    <div class="menu-badge">The Menu</div>
    <div class="dish-container small-12" ng-controller="menu-controller">
        <div class="large-6 columns">
            <div ng-repeat="dish in menu |limitTo:limit:0"
                 ng-animate="'repeat'"
                 class="menu-item small-12">
                <div class="dish small-10">
                    <div class="menu-name">{{dish.name}}</div>
                    <hr />
                    <div class="menu-description">{{dish.description}}</div>
                </div>
                <div class="menu-price small-2">{{dish.price}}zł</div>

            </div>
        </div>
        <div class="large-6 columns">
            <div ng-repeat="dish in menu2 |limitTo:limit2:0" class="menu-item small-12">
                <div class="dish small-10">
                    <div class="menu-name">{{dish.name}}</div>
                    <hr />
                    <div class="menu-description">{{dish.description}}</div>
                </div>
                <div class="menu-price small-2">{{dish.price}}zł</div>
            </div>
        </div>
        <div class="text-center"><a class="button" id="load-more" ng-click="incrementLimit()">Pokaż więcej</a></div>
    </div>


</section>
<section class="featured row">
    <div class="large-6 columns">
        Lorem ipsum
    </div>
</section>
<section class="gallery"></section>
<footer class="row">
    <ul class="large-3 columns">
        <li>New York Restaurant</li>
        <li>3926 Anmoore Road</li>
        <li>New York, NY 10014</li>
        <li>718-749-1714</li>
    </ul>
    <ul class="large-3 columns">
        <li>France Restaurant</li>
        <li>68, rue de la Couronne</li>
        <li>75002 Paris</li>
        <li>02.94.23.69.56</li>
    </ul>
    <ul class="large-3 columns">
        <li>Blog</li>
        <li>Careers</li>
        <li>Privacy Policy</li>
        <li>Contact</li>
    </ul>
    <ul class="large-3 columns">
        <li>
            <div class="logo"><img src="img/logo_white.png" alt="Logo"></div>
        </li>
        <li>&copy; All rights reserved 2014.</li>
        <li>Find More at Pixelhint.com</li>
    </ul>
</footer>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/functions.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="js/jquery.columnizer.js"></script>
<script src="js/angular-files/menu.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
